<h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif;">Confirmar tu cuenta</h1>
<p style="font-family: Arial, Helvetica, sans-serif">Hola, estás a un paso de cerar una comunidad en Meeti, sólo debes
  confirmar tu cuenta</p>
<a style="display: block; font-family: Arial, Helvetica, sans-serif; padding: 1rem; background-color: #00c897; color: white; text-transform: uppercase; text-align: center; text-decoration: none;"
  href="<%= url  %>">Confirmar tu cuenta</a>
<p style="font-family: Arial, Helvetica, sans-serif">Si no hiciste un registro en Meeti, puedes ignorar este email</p>